.header-pc {
  max-width: 1200px;
  height: 57px;
  margin: 0 auto;

  .logo {
    float: left;
  }

  .menu-container, .user-corner {
    float: left;
    margin-left: 35px;

    li {
      float: left;
      margin-left: 22px;
      line-height: 57px;

      a {
        display: inline-block;
        padding: 0 10px;
        height: 52px;
        font-size: 15px;
        &.router-link-active {
          border-bottom: 5px solid #f58220;
          color: #f58220;
        }
      }
    }
  }

  .user-corner {
    float: right;
    li a {
      padding: 0;
      // 投稿按钮
      &.publish {
        height: 20px;
        line-height: 20px;
        background: #f58220;
        border-radius: 2px;
        font-size: 13px;
        color: #fff;
        padding: 4px 15px;
        &.router-link-active {
          border: none;
        }
      }
    }
    .avator {
      img {
        margin-top: 12px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
