.comment-item {
  margin-bottom: 30px;
  .comment-wrapper {
    display: flex;
    padding: 0 30px 10px 30px;
    .avatar {
      flex: 0 0 70px;
      //padding-right: 20px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    .comment-content {
      flex: 1;
      position: relative;
      h5 {
        font-size: 14px;
        margin-right: 10px;
        color: #999;
      }
      small {
        font-size: 12px;
        margin-bottom: 10px;
        line-height: 17px;
        display: block;
        color: #bebebe;
      }
      p {
        font-size: 15px;
        line-height: 24px;
      }
      a {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 12px;
        color: #BEBEBE;
        transition: color .3s cubic-bezier(.25,.1,.25,1);
        line-height: 17px;
        &:hover {
          text-decoration: none;
          color: #ec4141;
        }
      }
    }
  }
}
